/* below line is used for online google font */
.form_css{
	width:100%;
	height:auto;
	margin:20px;
}

.form_css label{
	font-family:'Tahoma', sans-serif!important;
	font-weight:100!important;
	font-size:12pt;
	padding:5px;
}

.form_css input{
	border:1px solid #CCC!important;
	border-radius:2px!important;
}